/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
/.phpunit.result.cache
/.env
/.env.*
!.env.example
/coverage/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
.DS_Store
Thumbs.db
